
<div class="stopwatch">
  <div class="stopwatch-display">
    <div class="stopwatch-background">
      <p class="time-inactive">88:88.88</p>
    </div>
    <div class="stopwatch-time">
      <p class="time-active">{{ stopwatchState.minutes | twoDigit }}</p>
      <p [ngClass]="{'time-inactive': !isDelimShown, 'time-active': isDelimShown}">:</p>
      <p class="time-active">{{ stopwatchState.seconds | twoDigit }}</p>
      <p [ngClass]="{'time-inactive': !isDelimShown, 'time-active': isDelimShown}">.</p>
      <p class="time-active">{{ stopwatchState.milliseconds | twoDigit }}</p>
    </div>
  </div>
  <div class="stopwatch-buttons" formGroup="form">
    <button id="left-button" (click)=handleStartStop() type="button">
      <div *ngIf="!stopwatchState.isStarted">
        <i class="fas fa-play fa-xs"></i>
        Play
      </div>
      <div *ngIf="stopwatchState.isStarted">
        <i class="fas fa-pause fa-xs"></i>
        Pause
      </div>
    </button>
    <button id="middle-button" (click)=addTimeStamp() type="button">
      <i class="fas fa-stopwatch fa-lg"></i>
    </button>
    <button id="right-button" (click)=handleClear() type="button">
      <i class="fas fa-trash-alt fa-lg"></i>
    </button>
  </div>
</div>

<div class="timestamps-container">
  <app-timestamp
    *ngFor="let stamp of timeStamps"
    [timeStamp]="stamp"
    (removeTimeStamp)="removeTimeStamp($event)">
  </app-timestamp>
</div>
